* { 
box-sizing: border-box; 
}


body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    color: white; 
}

.brand-title {
    font-size: 1.5rem; 
    margin: .5rem; 
}

.navbar-links ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.navbar-links li {
    list-style: none; 
}

.navbar-links li a {
    text-decoration: none; 
    color: white; 
    padding: 1rem; 
    display: block; 
    text-transform: uppercase; 
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute; 
    top: .75rem; 
    right: 1rem; 
    display: none; 
    flex-direction: column; 
    justify-content: space-between;
    width: 30px; 
    height: 21px; 
}

.toggle-button .bar {
    height: 3px; 
    width: 100%; 
    background-color: white;
    border-radius: 10px; 
}

.image-container {
    width: 800px; 
    height: 600px; 
    background-image: url(https://www.west-crete.com/dailypics/photos/1505.jpg); 
    background-repeat: no-repeat; 
    background-size: contain;  
    margin: 0 auto; 
    border: 1px solid red; 
} 



/*  MAIN CONTENT   */

.main-content {
    
    display: flex; 
    flex-flow: row; 

}




/* MEDIA QUERIES */

@media (max-width: 600px) {
    .toggle-button {
        display: flex; 
    }

    .navbar-links {
        display: none; 
        width: 100%; 
    }

    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navbar-links ul {
        width: 100%; 
        flex-direction: column; 

    }

    .navbar-links li {
        text-align: center; 
        text-transform: uppercase; 
    }

    .navbar-links li a {
        padding: .5rem 1rem; 
        
    }

    .navbar-links.active {
        display: flex; 
    }
}






/* GRID */

 .grid-container {
    display: grid; 
    align-items: start; 
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr; 
    grid-template-areas: 
        "...... main    main    main    aside   ......"    
}

.item-1 {
    display: flex;
    flex-flow: column;
    border:  1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    width: 250px
}

.item-2 {
    display: flex;
    flex-flow: column;
    border:  1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    width: 250px
}

.item-3 {
    display: flex;
    flex-flow: column;
    border:  1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    width: 250px;
}

header {background: blue}
.item-1 {background: #41D3BD}
.item-2 {background: #DE6449}
.item-3 {background: #694D75}
aside {background:yellow}
footer {background: green} 



.main-content{ grid-area: main; }
.sidebar { grid-area: aside; }

